:host {
  padding: 1rem;
  height: calc(100vh - 155px);
  overflow: auto;

  .grid-3 {
    grid-template-columns: 1fr;
  }

  @media(min-width: 768px) {
    .grid-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media(min-width: 992px) {
    .grid-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
